body {
    background-image: url(../images/blur-city-clouds-417013.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
}

.jumbotron {
    background-color: #202126;
    color: #fff;
    padding: 10px;
    font-style: italic;
    margin: 0;
}

#chev1 { 
    color: #fa713b;
}

#chev2 {
    color: #f2b112;
}

.display-4 {
    font-family: 'Archivo Black', sans-serif;
}

.lead {
    padding-left: 150px;
    color: #ACA885;
}

.spacer {
    padding-top: 20px;
}

.blockquote {
    background-color: #202126;
    padding: 20px;
    padding-bottom: 5px;
}

#clock {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.formspacer {
    padding: 20px;
    line-height: 30px;
}

.card-header {
    background-color: #BEBBBB;
}

.btnspacer {
    margin-top: 20px;
}

.btn {
    background-color: #E86808;
    border: 0px;
}

.card {
    background-color: #EFEFEF;
}